.form__fieldset {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 40px;
    margin: 20px 0;
    background-color: rgba(71, 92, 76, 0.25);
    box-shadow: 0 0 30px black;
}

.form__legend {
    display: inline-block;
    text-align: center;
    max-width: 200px;
    background-color: rgb(113, 165, 149);
    border-radius: 10px;
    padding: 5px;
    color: white;
    text-transform: uppercase;
}

.form__labelText {
    background-color: rgb(210, 236, 228);
    max-width: 100%;
    padding: 5px;
    text-align: center;
    font-weight: 600;
    display: inline-block;
    margin-right: 5px;
    text-transform: uppercase;
}

.form__field {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 6px;
    width: 100%;
    max-width: 180px;
    text-align: center;
}

.form__exchangeCourse {
    display: inline-block;
    background-color: rgb(210, 236, 228);
    border-radius: 5px;
    margin-left: 80px;
    max-width: 100%;
    padding: 5px;
    text-align: center;
    font-weight: 700;
}

.form__button {
    background-color: cadetblue;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 60px;
    display: block;
    margin: 40px auto;
}

.form__button:hover {
    background-color: hsl(182, 25%, 55%);
    border: 1px solid cadetblue;
}

.form__paragraph--course {
    display: block;
    color: rgb(46, 54, 54);
    background-color: white;
    border-radius: 5px;
    margin: auto;
    text-align: center;
}

.form__paragraph--centered {
    color: rgb(13, 85, 11);
    font-weight: 900;
    background-color: rgb(228, 202, 147);
    border-radius: 5px;
    padding: 10px;
    max-width: fit-content;
    margin: 10px auto;
}

.form__paragraph--fontSmall {
    display: inline-block;
    margin-left: 80px;
    background-color: rgb(221, 161, 161);
    font-size: 9px;
    font-style: italic;
    padding: 2px;
    
}
