.form__fieldset {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 40px;
    margin: 20px 0;
    background-color: white;
    box-shadow: 0 0 30px black;
}

.form__legend {
    background-color: cadetblue;
    border-radius: 10px;
    padding: 10px;
    color: white;
}

.form__labelText {
    width: 100%;
    max-width: 200px;
    display: inline-block;
    margin-right: 5px;
}

.form__field {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 6px;
    width: 100%;
    max-width: 200px;
}

.form__button {
    background-color: cadetblue;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 60px;
    display: block;
    margin: 40px auto;
}

.form__button:hover {
    background-color: hsl(182, 25%, 55%);
    border: 1px solid cadetblue;
}

.form__paragraph--course {
    color: cadetblue;
    margin-left: 10px;
}

.form__paragraph--centered {
    color: cadetblue;
    padding: 10px;
    max-width: fit-content;
    margin: 10px auto;
}

.form__paragraph--fontSmall {
    font-size: 14px;
}